@using NewsPaper.Models
@{ 
    List<News> news = ViewBag.news;
}

    @foreach (var item in news)
    {
        <div class="post">
            <h4>@Html.DisplayFor(n => item.title)</h4> <br />
                @Html.DisplayFor(n => item._ref) <br />
            @Ajax.ActionLink("View details", "detail", new { id = item.newsID },
                      new AjaxOptions()
                       {
                        UpdateTargetId = "d2",
                        InsertionMode = InsertionMode.Replace,
                        OnComplete = "show"
                    })
        </div>
    }
